syntax on
filetype plugin indent on

let mapleader = ","
let maplocalleader = ",,"

" {{{ general options
set mouse=v
set nostartofline
set modeline
set shortmess+=I
set encoding=utf-8
set autoindent
set showmode
set noshowcmd
set hidden
set wildmenu
set wildmode=list:longest
set visualbell
set laststatus=0
set cursorline
set ttyfast
set ruler
set backspace=indent,eol,start
set nu
set nobackup
set nowritebackup
set noswapfile
set tags=~/.tags
set noundofile
set ssop-=options
set ssop-=folds
set timeoutlen=1000 ttimeoutlen=0 "exit visual mode faster
" }}}

" {{{ tabs
set tabstop=4
set shiftwidth=4
set softtabstop=4
set expandtab
" }}}

" {{{ search
set hlsearch
set ignorecase
set smartcase
set gdefault
set incsearch
set showmatch
nnoremap <leader><space> :noh<cr>
" }}}

" {{{ long lines
set wrap
set linebreak
set textwidth=72
set formatoptions=qn1Mj
set listchars=tab:▸\ ,eol:¬
map <leader>l :set list!<cr>
" }}}

" {{{ moving around
nnoremap <up> <nop>
nnoremap <down> <nop>
nnoremap <left> :bp<cr>
nnoremap <right> :bn<cr>
inoremap <up> <nop>
inoremap <down> <nop>
inoremap <left> <nop>
inoremap <right> <nop>
nnoremap <C-j> }
nnoremap <C-k> {
vnoremap <C-j> }
vnoremap <C-k> {
function! CenterSearch()
  let cmdtype = getcmdtype()
  if cmdtype == '/' || cmdtype == '?'
    return "\<enter>zz"
  endif
  return "\<enter>"
endfunction
cnoremap <silent> <expr> <enter> CenterSearch()
nnoremap j gj
nnoremap k gk
vnoremap j gj
vnoremap k gk
" }}}

" {{{ editing
vnoremap < <gv
vnoremap > >gv
nnoremap <cr> o<esc>
nnoremap <A-j> :m .+1<CR>==
nnoremap <A-k> :m .-2<CR>==
vnoremap <A-j> :m '>+1<CR>gv=gv
vnoremap <A-k> :m '<-2<CR>gv=gv

" reformat paragraph
nnoremap R mr{gq}'r

" allows incsearch highlighting for range commands
cnoremap $t <CR>:t''<CR>
cnoremap $m <CR>:m''<CR>
cnoremap $d <CR>:d<CR>``

" {{{ folding
nnoremap <space> za
" }}}

" {{{ convenience keys
nnoremap <leader>v :e $HOME/.vimrc<cr>
nnoremap <leader>t :e $HOME/notes/todo.md<cr>
nnoremap <localleader>v :source $HOME/.vimrc<cr>
nnoremap <leader>w :w<cr>
nnoremap <leader>q :qa<cr>
nnoremap <leader>d :bd<cr>
nnoremap <f10> :wq<cr>
inoremap jj <esc>
inoremap kk <esc>
inoremap jk <esc>
inoremap jk <esc>
cmap w!! %!sudo tee > /dev/null %
map Q @q
nnoremap <leader>m :w<cr>:make<cr>
nnoremap <leader>1 :on<cr>
" }}}

set surround
set ideajoin
set clipboard+=unnamedplus

nnoremap = :action ReformatCode <CR>
vnoremap = :action ReformatCode <CR>

nnoremap <leader>o :action OptimizeImports <CR>
nnoremap <leader>r :action RecentFiles<CR>

nnoremap <c-/> :action FindInPath <cr>
nnoremap <leader>go :action GotoClass<CR>
nnoremap <leader>gf :action GotoFile<CR>
nnoremap <leader>gi :action GotoImplementation <CR>
nnoremap <leader>gd :action GotoDeclaration <CR>
nnoremap <leader>gp :action GotoSuperMethod <CR>
nnoremap <leader>gt :action GotoTest <CR>
nnoremap <leader>gs :action FileStructurePopup <CR>
nnoremap <leader>gu :action FindUsages <CR>
nnoremap <leader>ge :action GotoNextError <CR>
nnoremap <leader>gE :action GotoPreviousError <CR>

nmap ,K <Action>(QuickJavaDoc)
nmap ,k <Action>(ExpressionTypeInfo)

nnoremap <TAB> :action NextTab <CR>
nnoremap <S-TAB> :action PreviousTab <CR>

nnoremap H :action Back <CR>
nnoremap L :action Forward <CR>

nnoremap [[ :action MethodUp <CR>
nnoremap ]] :action MethodDown <CR>

nnoremap <leader>r :action ContextRun<CR>
nnoremap <leader>c :action RunClass<CR>
nnoremap <leader>f :action ChooseRunConfiguration<CR>
nnoremap <leader>t :action ActivateRunToolWindow<CR>
nnoremap <leader>u :action Rerun<CR>
nnoremap <leader>f :action RerunFailedTests<CR>
nnoremap <leader>b :action ToggleLineBreakpoint<CR>
nnoremap <leader>d :action ContextDebug<CR>
nnoremap <leader>n :action ActivateDebugToolWindow<CR>" vim: fdm=marker

