source ~/.vimrc

set surround
set ideajoin
set clipboard+=ideaput

nnoremap = :action ReformatCode <CR>
vnoremap = :action ReformatCode <CR>

nnoremap <leader>o :action OptimizeImports <CR>
nnoremap <leader>r :action RecentFiles<CR>

nnoremap <c-/> :action FindInPath <cr>
nnoremap <leader>go :action GotoClass<CR>
nnoremap <leader>gf :action GotoFile<CR>
nnoremap <leader>gi :action GotoImplementation <CR>
nnoremap <leader>gd :action GotoDeclaration <CR>
nnoremap <leader>gp :action GotoSuperMethod <CR>
nnoremap <leader>gt :action GotoTest <CR>
nnoremap <leader>gs :action FileStructurePopup <CR>
nnoremap <leader>gu :action FindUsages <CR>
nnoremap <leader>ge :action GotoNextError <CR>
nnoremap <leader>gE :action GotoPreviousError <CR>

nmap ,K <Action>(QuickJavaDoc)
nmap ,k <Action>(ExpressionTypeInfo)

nnoremap <TAB> :action NextTab <CR>
nnoremap <S-TAB> :action PreviousTab <CR>

nnoremap H :action Back <CR>
nnoremap L :action Forward <CR>

nnoremap [[ :action MethodUp <CR>
nnoremap ]] :action MethodDown <CR>

nnoremap <leader>r :action ContextRun<CR>
nnoremap <leader>c :action RunClass<CR>
nnoremap <leader>f :action ChooseRunConfiguration<CR>
nnoremap <leader>t :action ActivateRunToolWindow<CR>
nnoremap <leader>u :action Rerun<CR>
nnoremap <leader>f :action RerunFailedTests<CR>
nnoremap <leader>b :action ToggleLineBreakpoint<CR>
nnoremap <leader>d :action ContextDebug<CR>
nnoremap <leader>n :action ActivateDebugToolWindow<CR>